:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Audiowide", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
  animation: fadeDown 2s;
  -webkit-animation: fadeDown 2s;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/*Header styles*/
.header {
  font-size: 32px;
  height: 80px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: #fff solid 2px;
}

.home-link {
  text-decoration: none;
  color: green;
  margin: 20px 0 0 100px;
}

/*Converter Styles*/

.converterContainer {
    border: #fff dashed 2px;
    margin: 100px auto 50px auto;
    padding: 50px 20px;
    max-width: 320px;
    min-width: 300px;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, .3);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px 0;
}

input {
  line-height: 2rem;
  font-size: 18px;
  text-align: center;
}

select {
  height: 2.5rem;
  text-align: center;
  font-size: 18px;
}

.btn-container {
  display: flex;
  margin: 20px auto;
}

button {
  display: block;
  margin: 0 auto;
}

.output {
  margin: 25px auto -25px auto;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Currency Rates*/

.ratesContainer {
  margin-bottom: 100px;
}

.rateList {
  list-style-type: none;
  padding: 20px 20px;
  width: 320px;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, .3);
}

.rateItems {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 2;
  border-bottom: 1px solid #fff;
}

.rateItems:last-child {
  border-bottom: none;
}
.currencyKey {
  flex: 1;
  text-align: left;
}

.currencyValue {
  flex: 1;
  text-align: right;
}

.fa-chevron-down, .fa-chevron-right {
  margin: 10px 0 0 10px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;

  }
}